[submodule "BuildSystemUnity"]
	path = BuildSystemUnity
	url = https://github.com/VRLAB-HSKL/BuildSystemUnity.git
	branch = develop
[submodule "BuildSystemReactSpring"]
	path = BuildSystemReactSpring
	url = https://github.com/VRLAB-HSKL/BuildSystemReactSpring.git
	branch = develop
[submodule "BuildSystemSimpleTestComponents"]
	path = BuildSystemSimpleTestComponents
	url = https://github.com/VRLAB-HSKL/BuildSystemSimpleTestComponents.git
	branch = develop
