[submodule "BuildSystemUnity"]
	path = BuildSystemUnity
	url = https://github.com/VRLAB-HSKL/BuildSystemUnity.git
	branch = main
[submodule "BuildSystemReactSpring"]
	path = BuildSystemReactSpring
	url = https://github.com/VRLAB-HSKL/BuildSystemReactSpring.git
	branch = master
[submodule "BuildSystemSimpleTestComponents"]
	path = BuildSystemSimpleTestComponents
	url = https://github.com/VRLAB-HSKL/BuildSystemSimpleTestComponents.git
	branch = master
[submodule "BuildSystemOAuth2Server"]
	path = BuildSystemOAuth2Server
	url = https://github.com/VRLAB-HSKL/BuildSystemOAuth2Server.git
	branch = master
